body{
  background-image: linear-gradient(to right, #00b09b, #96c93d);
}
.container{
  text-align: center;

}
h1{
  font-size: 4rem;
  font-family: 'Freehand', cursive;
  text-align: center;
  margin-top:3rem;
  margin-bottom: 3rem;
  font-weight: 2em;
}
table{
  margin: auto;
}
input{
  font-size: 3rem;
  margin-bottom: .2em;
  border: .2em solid #4925ec;
  border-radius: 20px;
  margin-top: 33px;
  box-shadow: 2px 3px #000db4;
}
button{
  font-size: 3rem;
  width: 2.5em;
  height: 1.3em;
  border-radius: 15px;
  margin: 2px 2px 2px 2px;
  box-shadow: 2px 3px #000db4;
}
.calculator{
  display: inline-block;
 background: linear-gradient(90deg, rgba(243,133,255,1) 20%, rgba(0,212,255,1) 100%);
 border: 10px solid #000db4;
 border-radius: 40px;
 box-shadow: 4px 5px;
}
